.b-page
{
    background-color: #e0e6e7;
    margin: 0;
    font-family: sans-serif, Arial;

}
 .b-top-bar__title
 {
     color:#b7c0c6;
     font-size: 25px;
     margin-left: 50px;

 }

.b-top-bar
{
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;

}

.b-input__area
{
    background: #fff;
    width: 300px;
    padding: 10px;

    margin-left: 10px;
    height: 400px;
    border-color: #fff;
    color:#000;
}

.b-page-main
{
    margin-top:20px;
}

.border-radius
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.b-button
{

    color:#fff;
    background-color: #0271c7;
    height: 32px;
    line-height: 32px;

    font-size: 16px;
     margin-left:20px;
    margin-top:5px;

    padding: 0 15px;
    display: inline-block;
    border: 0;
    text-decoration: none;
    text-align: center;

}

.b-page-transition
{
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.b-page-shadows
{


    text-shadow: none;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.b-button-clickable:hover
{
    cursor: pointer;
    background-color: #008dfa;
}

.hide
{
    display: none;
}

.b-page-test
{
    color: #b7c0c6;
    margin-top: 10px;

}

.left-side
{
    float: left;
}

.b-page-test-items,.b-page-test-switch
{
    width:320px;
    margin-left: 20px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.b-page-test-items__item,.b-page-test-switch__item
{
    margin-top: 4px;
    font:14px;
    background-color: #fff;
    color:#b7c0c6;
    height: 30px;
    padding-left: 20px;
    line-height: 30px;
    width: 290px;
}

.b-page-test-switch__item
{
    height: 60px;
    overflow: hidden;
    padding: 3px;
}

.b-page-test-switch__item:hover
{
    cursor: pointer;

}

.b-page-test-items__item-percent
{
    float: right;
    overflow: hidden;
    margin-right: 35px;
    font-size:17px;
    font-weight: 100;
    margin-left: 30px;
    width: 50px;
    overflow: hidden;
}

.b-page-questions
{
    margin-left:15px;
    width: 500px;
    height: 100%;

}

.b-page-questions__answers
{
    font-size: 20px;
    height: 380px;
    width: 480px;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
}

.b-page-questions__answers-item
{
    margin-left: 7px;
    margin-top: 3px;
}

.b-page-questions__current
{
    width: 490px;
    height: 36px;
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 4px;
    font-size: 16px;
    color: #99a2a8;

    background-color: #fff;
}

.b-page-questions__answer
{
    width: 100px;
    height: 20px;
    padding: 5px;
    font-size:15px;
    color:#0271c7;
}

.b-page-test-switch__selected
{
    background-color: #eee;
}

.b-page-test-items__item-title,.b-page-test-items__item
{
    overflow: hidden;
}

.b-page-input
{
    background-color: #fff;
    float: left;
    padding: 10px;

}

.b-input
{
    height: 25px;
    font-size: 15px;
}

.b-textarea
{
    height:200px;
    width: 500px;
    display: block;
}


.b-variable-form
{
    margin-left: 20px;
    background-color: #fff;
    padding: 15px;
}

.existing-variables-background-none
{
    background-color: transparent;
}

.b-textarea-margin
{
    margin-top:15px;

}

.b-page-input-hide
{
    display: none;
}

.b-checkbox
{
    vertical-align: bottom;
}

.b-page-test-switch__item_small
{
    height: 30px;
}

.b-input_long
{
    width: 440px;
}

.right-side
{
    float: right;
}

.b-variable-form__line-height
{
    line-height: 31px;
    margin-top:10px;
}

.b-variable-form_long
{
    width: 580px;
}

.b-page-questions__answer_long
{
    width:300px;
}
